<?xml version="1.0" encoding="utf-8"?>
<!-- The name of the product -->
<?define Name = "Raba" ?>
<!-- The Description of the product -->
<?define Description = "Raba is a WPF desktop application." ?>
<!-- The manufacturer, for setup package publisher and folder info -->
<?define Manufacturer = "Raba" ?>
<!-- The version number of this setup package-->
<?define Version = "5.0.0.1" ?>
<!-- UpgradeCode must be unique and not changed once the first version of the program is installed. -->
<?define UpgradeCode = "{25DA3824-3F14-4040-826B-F8D1783E1288}" ?>
<!-- The name of the Cabinet -->
<?define CabName = "RabaMetroStyle.cab" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!--Variable for Raba Application Directory-->
    <Product Id="*" Name="$(var.Name)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" Version="$(var.Version)" Language="1033">
        <!--Setup or Installer with properties-->
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Manufacturer="$(var.Manufacturer)" />
        <!--Application logo-->
        <Icon Id="Logo.ico" SourceFile="Resources\Logo.ico" />
        <!--Application logo for Control Panel-->
        <Property Id="ARPPRODUCTICON" Value="Logo.ico" />
        <!--Embed Cabinet into single msi file-->
        <Media Id="1" Cabinet="$(var.CabName)" EmbedCab="yes" />
        <!-- Allow upgrades and prevent downgrades -->
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <!-- Check if .Net Framework 4.5.2 version is installed or not. If not show message and exit-->
        <PropertyRef Id="WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED" />
        <Condition Message="This application requires .NET Framework 4.6.1 Please install the .NET Framework then run this installer again."><![CDATA[Installed OR WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED]]></Condition>
        <!--Main Feature for this Setup which can be found in Fragment Tag with ComponentGroupRef Id-->
        <Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
            <!--Main application executable component-->
            <ComponentGroupRef Id="ProductComponents" />
            <!--Main application shortcut for Program Menu-->
            <ComponentRef Id="ApplicationShortcut" />
            <!--Desktop shortcut-->
            <ComponentGroupRef Id="ComponentGroupDesktopShortcut" />
            <ComponentGroupRef Id="RabaMetroStyle.Binaries" />
            <ComponentRef Id="comp_7C00FD8B_D5D8_44FA_82DA_31A6DD463E38" />
            <ComponentRef Id="comp_D75F44AA_9C1E_4E0C_9A2C_52F4225E6E97" />
            <ComponentRef Id="comp_3780F247_83A4_406A_A0BC_9D22C7EBAFD4" />
            <ComponentRef Id="comp_F2D42E4C_2AE8_4CDA_B81E_123692E67767" />
            <ComponentRef Id="comp_368D46CC_45BC_4F5E_AA7A_A8BCF21627BF" />
            <ComponentRef Id="comp_B08E7C70_AF8C_45FF_A6A4_502E61CB7711" />
            <ComponentRef Id="comp_14C2FCA1_5080_4F7D_B8D6_FAFA2047E12B" />
            <ComponentRef Id="comp_BEFFB9D8_E04E_443B_A591_3D95051C5F93" />
            <ComponentRef Id="comp_5399D0F8_AED2_474C_A272_9C26EDF150F6" />
            <ComponentRef Id="comp_D83C8C7D_CF4D_4934_96A3_A3416BFD3145" />
            <ComponentRef Id="comp_C72FAC52_92B7_49DA_8210_22651DE993FD" />
            <ComponentRef Id="comp_E24D0DCC_4C1E_4593_A7AF_449A62C01D89" />
            <ComponentRef Id="comp_EEF4FF6C_88AF_406D_A8F2_ED59A5869959" />
            <ComponentRef Id="comp_28260246_27B0_4EB9_9090_7D3580832DAB" />
            <ComponentRef Id="comp_A9A2D30F_F75C_46F6_BC29_3E95AD95D6D2" />
            <ComponentRef Id="comp_A3F8F7DF_E09F_41C8_A1A2_DA3C50D0CE24" />
            <ComponentRef Id="comp_219019CD_3ED3_4491_90B0_AA32E3251B7B" />
            <ComponentRef Id="comp_46B7868A_9228_4706_ACF5_38BF83412067" />
            <ComponentRef Id="comp_B3037E09_F4EF_434A_94BC_44D13AF5FD01" />
            <ComponentRef Id="comp_4DDC240D_E321_46D6_8AB7_F369F6507C91" />
            <ComponentRef Id="comp_83858EE8_34B7_4195_B5A9_431757AD0B9B" />
            <ComponentRef Id="comp_5A4FF078_536B_480F_861D_8A36BAE8702A" />
            <ComponentRef Id="comp_6E6D08AF_B22E_44E1_8283_84FE45BAD6B0" />
            <ComponentRef Id="comp_2CE33616_9944_4C62_970E_6C8841B7E173" />
            <ComponentRef Id="comp_2803A410_EF1B_44B6_B45E_BAB526562AE2" />
            <ComponentRef Id="comp_0744D7C1_ABA7_42E8_A1BB_9F9EF0AF79E6" />
            <ComponentRef Id="comp_CB410AA3_5FC7_4B4B_ACD5_4D8EFD6A3EB1" />
            <ComponentRef Id="comp_83FCB3AA_758A_4098_ADE1_80D1431F4B55" />
            <ComponentRef Id="comp_41DED390_16D3_4804_8461_83E7C80430EF" />
            <ComponentRef Id="comp_74681615_69BB_47FF_A210_9275DB6E3B0E" />
            <ComponentRef Id="comp_460496A5_7A2D_4C8C_8065_6376717F4C72" />
            <ComponentRef Id="comp_7CFA08E8_D320_4662_BEF5_C5734E8F034D" />
            <ComponentRef Id="comp_7CFE8B25_0E38_4EF9_BD0F_F9C0AE5FA17E" />
            <ComponentRef Id="comp_3056FCC5_B5A0_4253_B943_E74869FDAB9F" />
            <ComponentRef Id="comp_3E308B1A_C1DF_425E_822A_06EF29C1EC39" />
            <ComponentRef Id="comp_36BF4718_9057_4926_8457_F7BDE967215D" />
            <ComponentGroupRef Id="RabaService.Binaries" />
            <ComponentRef Id="comp_A8523B69_D94A_49E2_AEE1_C4F0CD498A54" />
            <ComponentRef Id="comp_E85A8565_E419_4D6F_93D0_36E77AEDDFEF" />
            <ComponentRef Id="comp_06AAE26F_0189_4D11_B260_7EE3A362D54A" />
            <ComponentRef Id="comp_F43E7433_10BC_4431_8CDC_D41E65A66CED" />
            <ComponentRef Id="comp_88E55624_FCDE_4D1F_B885_2662C854FAD2" />
            <ComponentRef Id="comp_669BD73F_AAE2_4BCA_B238_F0472AF21EC4" />
        </Feature>
        <!-- Add CheckBox UI to your installer for running application on exit-->
        <UI>
            <!--<UIRef Id="WixUI_Minimal" />-->
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>
        <UI Id="CustomUI_Login">
            <Dialog Id="LoginDlg" Title="!(loc.InstallDirDlg_Title)" Width="370" Height="270" NoMinimize="no">
                <Control Id="AccountLabel" Type="Text" X="75" Y="113" Width="100" Height="15" TabSkip="no" Text="&amp;Account:" />
                <Control Id="AccountInput" Type="Edit" X="75" Y="125" Width="220" Height="18" Property="LogonUser" Text="{80}" />
                <Control Id="PasswordLabel" Type="Text" X="75" Y="150" Width="100" Height="15" TabSkip="no" Text="&amp;Password:" />
                <Control Id="PasswordEdit" Type="Edit" X="75" Y="162" Width="220" Height="18" Property="PASSWORD" Password="yes" />
                <Control Id="InstallButton" Type="PushButton" Text="Continue" Height="17" Width="56" X="130" Y="190">
                    <Publish Event="NewDialog" Value="ProgressDlg">
                    </Publish>
                </Control>
                <Control Id="CancelButton" Type="PushButton" X="190" Y="190" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>Click Continue to finalise service installation</Text>
                </Control>
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>{\WixUI_Font_Title}Account to install service</Text>
                </Control>
                <Control Id="LoginHeaderText" Type="Text" X="35" Y="65" Width="300" Height="50" NoPrefix="yes">
                    <Text>{\WixUI_Font_Bigger}Please enter your account and password to continue:</Text>
                </Control>
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
            </Dialog>
        </UI>
        <InstallUISequence>
            <Show After="ProgressDlg" Dialog="LoginDlg">NOT Installed</Show>
        </InstallUISequence>
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.Name)" />
        <!--Include the custom action for running application on exit-->
        <Property Id="WixShellExecTarget" Value="[#RabaMetroStyle.exe]" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
        <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
        <!--Custom UI for installer-->
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        <UIRef Id="WixUI_InstallDir" />
        <!--EndUser License aggrement-->
        <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="Resources\eula.rtf" />
        <!--Top Banner UI Logo-->
        <WixVariable Id="WixUIBannerBmp" Overridable="yes" Value="Resources\TopBanner.jpg" />
        <!--Verticle Banner UI Logo-->
        <WixVariable Id="WixUIDialogBmp" Overridable="yes" Value="Resources\BackgroundLogo.jpg" />
    </Product>
    <!--Fragment with details of installation directory-->
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Component Id="comp_F43E7433_10BC_4431_8CDC_D41E65A66CED" Guid="3D1CA6F4-4A7C-4ACD-B573-432C7BB5BF86" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_F82FFF27_9F19_41BE_AEE8_19AD8723113C" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Buffers.dll" Source="..\packages\System.Buffers.4.5.1\lib\net461\System.Buffers.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_88E55624_FCDE_4D1F_B885_2662C854FAD2" Guid="8E40FD9E-EBFA-4563-ADF9-6E048B5AE74A" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_4822C171_1682_4EDC_AD75_C8D6E39C3198" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Memory.dll" Source="..\packages\System.Memory.4.5.4\lib\net461\System.Memory.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_669BD73F_AAE2_4BCA_B238_F0472AF21EC4" Guid="A4CD5CDE-F34F-4249-A9C7-0553FA0BEB60" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_82D2CA13_9B91_4216_9245_77DCF0A2144D" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Text.Encoding.CodePages.dll" Source="..\packages\System.Text.Encoding.CodePages.5.0.0\lib\net461\System.Text.Encoding.CodePages.dll" KeyPath="yes" />
            </Component>
            <Directory Id="ProgramFilesFolder">
                <!-- Create a folder inside program files with Company Name-->
                <Component Id="comp_A8523B69_D94A_49E2_AEE1_C4F0CD498A54" Guid="D49FF7D8-4C02-4E8D-8C9E-E30DAAD55E58" Permanent="no" SharedDllRefCount="no" Transitive="no">
                    <File Id="_66328E0E_84C0_4ACA_85F3_7783E842AD4B" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Buffers.dll" Source="..\packages\System.Buffers.4.5.1\lib\net461\System.Buffers.dll" KeyPath="yes" />
                </Component>
                <Component Id="comp_E85A8565_E419_4D6F_93D0_36E77AEDDFEF" Guid="916FAEC6-4E3D-4F78-B616-324DEE6598AE" Permanent="no" SharedDllRefCount="no" Transitive="no">
                    <File Id="_BE3ABBED_5C86_4F39_B9F3_02FF05DF4B30" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Memory.dll" Source="..\packages\System.Memory.4.5.4\lib\net461\System.Memory.dll" KeyPath="yes" />
                </Component>
                <Component Id="comp_06AAE26F_0189_4D11_B260_7EE3A362D54A" Guid="DF1E1340-BA6B-4D36-929E-96226382A84B" Permanent="no" SharedDllRefCount="no" Transitive="no">
                    <File Id="_4EE132A5_B136_4D69_8E55_46AB39C8D67F" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Text.Encoding.CodePages.dll" Source="..\packages\System.Text.Encoding.CodePages.5.0.0\lib\net461\System.Text.Encoding.CodePages.dll" KeyPath="yes" />
                </Component>
                <Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">
                    <!-- Create a folder inside Company Name folder with Product Name-->
                    <Directory Id="INSTALLFOLDER" Name="$(var.Name)">
                        <Directory Id="DesktopFolder" Name="DesktopFolder" />
                    </Directory>
                </Directory>
            </Directory>
            <!--Create application folder in Program Menu-->
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="$(var.Name)" />
            </Directory>
            <Directory Id="RabaMetroStyle.Binaries" />
            <Directory Id="RabaService.Binaries" />
        </Directory>
    </Fragment>
    <!--Main Feature Fragment with Sample application executable-->
    <Fragment>
        <!--ComponentGroup refering to install component in INSTALLFOLDER Directory-->
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="ProductServiceComponent" Guid="">
                <File Id="WindowsServiceEXE" Name="WindowsService.exe" DiskId="1" Source="..\RabaService\bin\Release\RabaService.exe" Vital="yes" KeyPath="yes" />
                <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes" Name="RabaService" DisplayName="RabaService" Description="Raba Windows Service" Start="demand" Account="[AccountInput]" Password="[PasswordEdit]" ErrorControl="normal" Interactive="no" />
                <ServiceControl Id="StartService" Stop="both" Start="install" Remove="uninstall" Name="RabaService" Wait="no" />
            </Component>
            <!--Main Component with RabaMetroStyle executable path-->
            <Component Id="RabaMetroStyle.exe" Guid="*">
                <File Id="RabaMetroStyle.exe" Name="RabaMetroStyle.exe" Source="..\RabaMetroStyle\bin\Release\RabaMetroStyle.exe" />
                <!-- Remove all files from the INSTALLFOLDER on uninstall -->
                <RemoveFile Id="ALLFILES" Name="*.*" On="both" />
            </Component>
            <!--Component with config file of sample application-->
            <Component Id="App.config" Guid="*">
                <File Id="App.config" Name="App.config" Source="..\RabaService\bin\Release\App.config" />
            </Component>
            <Component Id="RabaService.exe.config" Guid="*">
              <File Id="RabaService.exe.config" Name="RabaService.exe.config" Source="..\RabaService\bin\Release\RabaService.exe.config" />
            </Component>
            <Component Id="comp_7C00FD8B_D5D8_44FA_82DA_31A6DD463E38" Guid="8264B2C2-2E84-4D93-9F81-C6231E3E504F" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_DD2403E3_9A57_4A5C_9042_A6A9B03FB33D" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="ControlzEx.dll" Source="..\packages\ControlzEx.4.4.0\lib\net45\ControlzEx.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_D75F44AA_9C1E_4E0C_9A2C_52F4225E6E97" Guid="8435A54A-E59C-4AEA-9CFB-37BBD49A721A" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_77476AA8_AFF0_45B4_97E4_D487C722DDAF" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.dll" Source="..\packages\MahApps.Metro.2.4.3\lib\net46\MahApps.Metro.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_3780F247_83A4_406A_A0BC_9D22C7EBAFD4" Guid="16E8862B-078B-4D00-9D53-7F6145FF34DB" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_806A893E_A2B5_4ECC_A444_7F59B0A21F27" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.BootstrapIcons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.BootstrapIcons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_F2D42E4C_2AE8_4CDA_B81E_123692E67767" Guid="C85BEDBF-5EDA-4FB8-AC23-E46710C0841C" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_0593DCE5_3325_428B_9116_E2C686F49274" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.BoxIcons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.BoxIcons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_368D46CC_45BC_4F5E_AA7A_A8BCF21627BF" Guid="9064774D-3012-4B64-90E5-4E0666B1EB0F" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_BAD189D5_7FF5_47A0_9F04_CDB9FB626A58" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.Codicons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.Codicons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_B08E7C70_AF8C_45FF_A6A4_502E61CB7711" Guid="CED7AC32-0F57-4D62-A5CE-8F454A6AA50C" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_8FA597DD_910E_4B98_B645_AB0F6DAE6A1C" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.Core.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.Core.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_14C2FCA1_5080_4F7D_B8D6_FAFA2047E12B" Guid="DFCD3222-CDC2-43C4-875F-1E4C64C55827" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_A4EEA7CE_62CB_4E6D_B6AE_468CC8AD6F6F" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_BEFFB9D8_E04E_443B_A591_3D95051C5F93" Guid="FB62B686-900D-4DC2-B249-8C7946DFB0CC" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_E4FBB4B3_8043_4AAB_8CA4_3F0DEA84C633" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.Entypo.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.Entypo.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_5399D0F8_AED2_474C_A272_9C26EDF150F6" Guid="EB94C3B5-C927-4077-8F17-40E85713CE49" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_3763B29D_47E5_48D8_B89F_6D26A71F0FB2" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.EvaIcons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.EvaIcons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_D83C8C7D_CF4D_4934_96A3_A3416BFD3145" Guid="D97EF5FB-813D-4C54-8A36-C5911AEE0E2B" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_42164EBC_67B3_4F66_8188_9F881A6DD269" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.FeatherIcons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.FeatherIcons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_C72FAC52_92B7_49DA_8210_22651DE993FD" Guid="BA6F3754-5084-4D2E-9C10-B20EC9ECD72C" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_6CC203A0_2E3A_4EA2_BEE8_F1C63253A52B" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.FileIcons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.FileIcons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_E24D0DCC_4C1E_4593_A7AF_449A62C01D89" Guid="3239EAE5-B04F-4F7F-B11D-24F02F9F3D3F" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_3A45BE1A_243C_41F2_A3D3_1CE00B0C070E" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.Fontaudio.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.Fontaudio.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_EEF4FF6C_88AF_406D_A8F2_ED59A5869959" Guid="E94A2B98-4264-4840-964C-A7677014D6E2" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_8EF13E65_4046_4002_98DF_A8D76BE6BDD1" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.FontAwesome.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.FontAwesome.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_28260246_27B0_4EB9_9090_7D3580832DAB" Guid="57A5D9C8-CEB0-4F63-AFE9-C41FE53537F0" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_8B49B86C_829A_4A32_BF1F_288E37A92DB5" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.ForkAwesome.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.ForkAwesome.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_A9A2D30F_F75C_46F6_BC29_3E95AD95D6D2" Guid="27117AD2-E850-4B4B-B4B9-9B52E205A4C5" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_61EFE692_5F7B_4360_A486_3DC7617CBDFB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.Ionicons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.Ionicons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_A3F8F7DF_E09F_41C8_A1A2_DA3C50D0CE24" Guid="C7F2C518-C6FE-4411-82B1-1408044250DC" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_E3C36F7D_80BB_4194_AB0C_C5E85F6AD143" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.JamIcons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.JamIcons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_219019CD_3ED3_4491_90B0_AA32E3251B7B" Guid="D3C06D47-0F41-4398-AF0A-947D634FB102" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_F12E7BE6_CB57_4A79_9D5A_9239322F9833" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.Material.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.Material.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_46B7868A_9228_4706_ACF5_38BF83412067" Guid="52D8A8D7-5283-48C4-894E-426A558029E0" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_B511B8A0_A658_4234_887C_71DEA4EBD2AE" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.MaterialDesign.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.MaterialDesign.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_B3037E09_F4EF_434A_94BC_44D13AF5FD01" Guid="AF53536D-EB8D-4EA0-A3D5-1EF5B7B0C01F" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_6DECB560_BBA8_4CD2_B3B0_0D702941568E" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.MaterialLight.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.MaterialLight.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_4DDC240D_E321_46D6_8AB7_F369F6507C91" Guid="B172FFCE-4172-4098-9110-CE1654F2207F" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_708A0410_5BDA_4747_B424_30BE4B5531F5" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.Microns.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.Microns.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_83858EE8_34B7_4195_B5A9_431757AD0B9B" Guid="CA8C06C5-CAD7-48AC-A608-79E655910E42" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_A8F0DEBF_90FD_4179_A8B8_42BE5AB98EB4" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.Modern.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.Modern.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_5A4FF078_536B_480F_861D_8A36BAE8702A" Guid="577EC8F7-122A-4C19-90B1-14AF360A7F11" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_55D703BB_B1F1_47C3_8817_10B7DF7D56E9" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.Octicons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.Octicons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_6E6D08AF_B22E_44E1_8283_84FE45BAD6B0" Guid="906EF610-9317-44CC-A430-6E1B190B9033" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_9FB049E8_8A3A_449F_A896_F30236253517" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.PicolIcons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.PicolIcons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_2CE33616_9944_4C62_970E_6C8841B7E173" Guid="8F7C65C5-38B1-449E-BAC4-36E178A2F2B4" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_E291601C_041E_41B5_92BD_EFC6F128CDFA" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.PixelartIcons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.PixelartIcons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_2803A410_EF1B_44B6_B45E_BAB526562AE2" Guid="57321FBC-9227-4F13-AC61-FCD81EE314B0" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_D48EBF9C_D6B3_4C2A_8415_C9A551257005" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.RadixIcons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.RadixIcons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_0744D7C1_ABA7_42E8_A1BB_9F9EF0AF79E6" Guid="9D7CB1F0-C7AB-4D5C-B490-E258DE56EB4F" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_39DB02F1_4FE4_4FFA_BF55_34294CE44001" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.RemixIcon.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.RemixIcon.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_CB410AA3_5FC7_4B4B_ACD5_4D8EFD6A3EB1" Guid="60D5B9D0-D5F2-4E16-91E3-C70C5EAEC419" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_5653BBA1_2E77_49A2_82FB_C63C8C3E83BD" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.RPGAwesome.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.RPGAwesome.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_83FCB3AA_758A_4098_ADE1_80D1431F4B55" Guid="F233F5BD-233A-4EFD-AA70-254974A05985" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_CFED4AB7_FA3F_4FC3_9207_2B2429C8C48D" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.SimpleIcons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.SimpleIcons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_41DED390_16D3_4804_8461_83E7C80430EF" Guid="F92626B2-FFF7-4A30-AB8B-29B6E2FEF3CB" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_1F2C8FF0_8726_492D_9969_C0284BD971BD" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.Typicons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.Typicons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_74681615_69BB_47FF_A210_9275DB6E3B0E" Guid="D044B5C8-74E6-4D9F-806A-6FC57EEA1A43" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_D960D8D9_87B4_47FF_800A_767D1767BE0E" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.Unicons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.Unicons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_460496A5_7A2D_4C8C_8065_6376717F4C72" Guid="05397AFE-96D7-45B3-BB7C-E54F27C4DE8B" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_DFBD3E57_7FBB_42B7_BA74_53C4A1212B30" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.VaadinIcons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.VaadinIcons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_7CFA08E8_D320_4662_BEF5_C5734E8F034D" Guid="442E954B-77F0-4EDB-92E1-A053ACC142A2" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_13055F6E_5AB4_47A4_A0BA_0E40128CFF04" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.WeatherIcons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.WeatherIcons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_7CFE8B25_0E38_4EF9_BD0F_F9C0AE5FA17E" Guid="4B10FA87-155A-4FDE-A8E4-15B0A7DAA542" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_8F564CC9_F1E9_48B2_8341_24D18C92AADB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.IconPacks.Zondicons.dll" Source="..\packages\MahApps.Metro.IconPacks.4.8.0\lib\net46\MahApps.Metro.IconPacks.Zondicons.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_3056FCC5_B5A0_4253_B943_E74869FDAB9F" Guid="980AD0E9-9A28-434C-9AC3-3133AF3B16C5" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_CFE68F18_4B40_4115_9FBF_2E73EFFF5FC9" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Xaml.Behaviors.dll" Source="..\packages\Microsoft.Xaml.Behaviors.Wpf.1.1.19\lib\net45\Microsoft.Xaml.Behaviors.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_3E308B1A_C1DF_425E_822A_06EF29C1EC39" Guid="0FF96E77-8C6D-4D16-BCDB-5EB670B8F247" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_64550724_DB9C_49BB_9893_0C1C591CD96C" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Ookii.Dialogs.Wpf.dll" Source="..\packages\Ookii.Dialogs.Wpf.3.1.0\lib\net45\Ookii.Dialogs.Wpf.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_36BF4718_9057_4926_8457_F7BDE967215D" Guid="F11CB5F6-CA3E-4DCC-99B8-23A028B3FA97" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_C4040E57_E559_446E_97B5_9236894F4C31" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Design.dll" Source="c:\\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.6.1\System.Design.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_36BF4718_9057_4926_8457_F7BDE967216D" Guid="F11CB5F6-CA3E-4DCC-99B8-23A028B3FA98" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_C4040E57_E559_446E_97B5_9236894F4C32" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="ICSharpCode.SharpZipLib.dll" Source="..\\RabaService\\\bin\\\Release\\ICSharpCode.SharpZipLib.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_36BF4718_9057_4926_8457_F7BDE967217D" Guid="F11CB5F6-CA3E-4DCC-99B8-23A028B3FA99" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_C4040E57_E559_446E_97B5_9236894F4C33" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="log4net.dll" Source="..\\RabaService\\\bin\\\Release\\log4net.dll" KeyPath="yes" />
            </Component>
            <Component Id="comp_36BF4718_9057_4926_8457_F7BDE967218D" Guid="F11CB5F6-CA3E-4DCC-99B8-23A028B3FA79" Permanent="no" SharedDllRefCount="no" Transitive="no">
                <File Id="_C4040E57_E559_446E_97B5_9236894F4C34" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Configuration.dll" Source="..\\RabaService\\\bin\\\Release\\System.Configuration.dll" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="ApplicationProgramsFolder">
            <!--Create application shortcut in Program Menu-->
            <Component Id="ApplicationShortcut" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.Name)" Description="$(var.Description)" Icon="Logo.ico" Target="[#RabaMetroStyle.exe]" WorkingDirectory="INSTALLFOLDER" />
                <!--Remove application shortcut from Program Menu on uninstall-->
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <!--Create application registry entry-->
                <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.Manufacturer)\$(var.Name)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <!--Desktop Shortcut-->
        <ComponentGroup Id="ComponentGroupDesktopShortcut">
            <Component Id="ComponentDesktopShortcut" Guid="*" Directory="DesktopFolder">
                <Shortcut Id="AppDesktopShortcut" Name="$(var.Name)" Description="$(var.Description)" Directory="DesktopFolder" Target="[#RabaMetroStyle.exe]" WorkingDirectory="INSTALLFOLDER" />
                <!--Remove desktop shortcut on uninstall-->
                <RemoveFolder Id="DesktopFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.Name)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>